<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    {% load static %}
    <link rel="shortcut icon" type=image/x-icon href="{% static "./Convertible.ico" %}">
    <title>Road Monitoring System</title>
    {% load static %}
    <link href="{% static "./css/app.a4c8d8654ab3e2931f50d456bdbf1f42.css" %}" rel=stylesheet>
</head>
<body>
<div id=app></div>
{% load static %}
<script type=text/javascript src="{% static "./js/manifest.3ad1d5771e9b13dbdad2.js" %}"></script>
{% load static %}
<script type=text/javascript src="{% static "./js/vendor.e88c7db8826714cd3266.js" %}"></script>
{% load static %}
<script type=text/javascript src="{% static "./js/app.fc9a3224e6bb4a18fed2.js" %}"></script>
</body>
</html>